{% extends 'Main/base.html' %}

{% block dashboard %} active {% endblock %}
{% block content %}
<body style="background-color:black;">
  <div class="container-fluid">
    <div class="row">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-auto">
            <div class="card text-white bg-success m-3" style="max-width: 18rem;"style="background-color:black;">
                <div class="card-header">Today's Cases</div>
                <div class="card-body">
                    
                    <p class="card-text"><b>Total Cases</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- <i>&nbsp&nbsp&nbsp&nbsp <b>3</b></i></p>
                    <p class="card-text"><b>Solved Cases</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- <i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>1</b></i></p>
                    <p class="card-text"><b>Active Cases</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- <i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>2</b></i></p>
                    &nbsp&nbsp&nbsp&nbsp<a href="/" class="btn btn-success">Details</a>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card text-white bg-dark m-3" style="max-width: 18rem;">
              <div class="card-header">Today's Cases</div>
              <div class="card-body">
                  
                  <p class="card-text"><b>Total Cases</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- <i>&nbsp&nbsp&nbsp&nbsp <b>3</b></i></p>
                  <p class="card-text"><b>Solved Cases</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- <i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>1</b></i></p>
                  <p class="card-text"><b>Active Cases</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- <i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>2</b></i></p>
                  &nbsp&nbsp&nbsp&nbsp<a href="/" class="btn btn-dark">Details</a>
              </div>
          </div>
          
        </div>
        <div class="col-auto">
          <div class="card text-white bg-danger m-3" style="max-width: 18rem;">
            <div class="card-header">Today's Cases</div>
            <div class="card-body">
                
                <p class="card-text"><b>Total Cases</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- <i>&nbsp&nbsp&nbsp&nbsp <b>3</b></i></p>
                <p class="card-text"><b>Solved Cases</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- <i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>1</b></i></p>
                <p class="card-text"><b>Active Cases</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- <i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>2</b></i></p>
                &nbsp&nbsp&nbsp&nbsp<a href="/" class="btn btn-danger">Details</a>
            </div>
        </div>
        </div>
        <div class="col-auto">
          <div class="card text-white bg-info m-3" style="max-width: 18rem;">
            <div class="card-header">Today's Cases</div>
              <div class="card-body">
                  
                  <p class="card-text"><b>Total Cases</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- <i>&nbsp&nbsp&nbsp&nbsp <b>3</b></i></p>
                  <p class="card-text"><b>Solved Cases</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- <i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>1</b></i></p>
                  <p class="card-text"><b>Active Cases</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- <i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>2</b></i></p>
                  &nbsp&nbsp&nbsp&nbsp<a href="/" class="btn btn-info">Details</a>
              </div>
          </div>
        </div>
    </div>

        
    </div>
  </div>
</body>

{% endblock %}