<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>jQuery Ajax Example</title>
    <style>
    #chart {
        max-width: 650px;
        margin: 35px auto;
    }
    </style>
    <script>
    window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
        )
    window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
        )
    window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
        )
    </script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <dir class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="shadow mt-4">
                    <h4 class="text-center">Cases / Event Type </h4>
                    <div id="pi-chart" style="height: 364px"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="shadow mt-4">
                    <h4 class="text-center">Cases in Hours By Event Type</h4>
                    <div id="hoursColumns"></div>
                </div>
            </div>
        </div>
    </dir>
    <div id="chart"></div>
    <script>
    var pi_options = {
        series: [],
        labels: [],
        chart: {
            height: 380,
            type: 'pie',
        },
        plotOptions: {
            pie: {
                offsetX: 50,
                offsetY: 0
            }
        },
        legend: {
            offsetX: -100,
            offsetY: 0
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
            }
        }]
    };

    var pichart = new ApexCharts(document.querySelector("#pi-chart"), pi_options);
    pichart.render();


    $.getJSON('http://127.0.0.1:8080/analysis/getDataTest/?policeStation=All&circle=All&radius=All&eventTypes=All&eventSubTypes=All&fromdatetime=2021-04-01T00%3A00&todatetime=2021-06-30T23%3A59%3A59&timeOfevent=All', function(response) {


        pichart.updateOptions({
            series: response['piData']['series'],
            labels: response['piData']['labels'],
        });

    });
    </script>
</body>

</html>