{% extends 'Main/base.html' %}
{% block map %} active {% endblock %}
{% block content %}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script>
<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
<div class="container-fluid">
    <div class="row p-0">
        <div class="col-md-3 col-12 bg-dark pb-2 d-none d-md-block">
            <div class="card mx-auto mt-2 bg-secondary text-white" style="width: 98%;">
                <div class="card-body">
                    <h5 class="card-title ">Patrolling Points</h5>
                    <!-- <hr> -->
                    <label for="timeDelta" class="form-label">Based on History of </label>
                    <select class="form-select" id='timeDelta'>
                        <!-- <option selected value="All">All</option> -->
                        <option value="1">1 Day</option>
                        <option value="2">2 Day</option>
                        <option value="3">3 Days</option>
                        <option value="7">1 Week</option>
                        <option selected value="14">2 Week</option>
                        <option value="30">1 Month</option>
                        <option value="60">2 Month</option>
                    </select>
                    <label for="noOfPoints" class="form-label mt-2">No. Of Locations</label>
                    <select class="form-select" id="noOfPoints">
                        <!-- <option selected value="All">All</option> -->
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                    <label for="timeOfpatrolling" class="form-label mt-2">Time Of Patrolling (Hour)</label>
                    <select class="form-select" id="timeOfpatrolling">
                        <!-- <option selected value="All">All</option> -->
                        <option value="0">12 AM</option>
                        <option value="1">1 AM</option>
                        <option value="2">2 AM</option>
                        <option value="3">3 AM</option>
                        <option value="4">4 AM</option>
                        <option value="5">5 AM</option>
                        <option value="6">6 AM</option>
                        <option value="7">7 AM</option>
                        <option value="8">8 AM</option>
                        <option value="9">9 AM</option>
                        <option value="10">10 AM</option>
                        <option value="11">11 AM</option>
                        <option value="12">12 PM</option>
                        <option value="13">1 PM</option>
                        <option value="14">2 PM</option>
                        <option value="15">3 PM</option>
                        <option value="16">4 PM</option>
                        <option value="17">5 PM</option>
                        <option value="18">6 PM</option>
                        <option value="19">7 PM</option>
                        <option value="20">8 PM</option>
                        <option value="21">9 PM</option>
                        <option value="22">10 PM</option>
                        <option value="23">11 PM</option>
                    </select>
                    <label for="weekDay" class="form-label mt-2">Week Day</label>
                    <select class="form-select" id="weekDay">
                        <!-- <option selected value="All">All</option> -->
                        <option value="0">Monday</option>
                        <option value="1">Tuesday</option>
                        <option value="2">Wednesday</option>
                        <option value="3">Thursday</option>
                        <option value="4">Friday</option>
                        <option value="5">Saturday</option>
                        <option value="6">Sunday</option>
                    </select>
                    <button onclick="getPredictionPoints()" class="btn btn-light mt-3">Predict Locations</button> 
                </div>
            </div>
            <div class="row mx-auto mt-3">
                <div class="card text-white bg-danger mb-2 col-6 mx-auto"  style="width: 48%;">
                    <div class="card-body">
                        <h5 class="card-title">Total Crime</h5>
                        <p class="card-text">{{totalCases}}</p>
                    </div>
                </div>
                <div class="card text-dark bg-warning mb-2 col-6 mx-auto" style="width: 48%;">
                    <div class="card-body">
                        <h5 class="card-title">Police Station</h5>
                        <p class="card-text" id="policeStationVal">{{policeStation}}</p>
                        <select class="form-select" id='policeStation' onchange="updateData()" >
                            <option selected value="All">All</option>
                            {%for i in policeStations%}
                                <option value="{{i}}">{{i}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="card text-white bg-success mb-2 col-6 mx-auto"  style="width: 48%;">
                    <div class="card-body">
                        <h5 class="card-title">Circle</h5>
                        <p class="card-text" id="circleVal">{{circle}}</p>
                        <select class="form-select" id='circle' onchange="updateData()" >
                            <option selected value="All">All</option>
                            {%for i in circles%}
                                <option value="{{i}}">{{i}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="card text-white bg-primary mb-2 col-6 mx-auto"  style="width: 48%;">
                    <div class="card-body">
                        <h5 class="card-title">Radius</h5>
                        <p class="card-text" id="radiusVal">All</p>
                        <select class="form-select" id='radius' onchange="updateData()">
                            <option selected value="All">All</option>
                            <option value="1">1 KM</option>
                            <option value="2">2 KM</option>
                            <option value="3">3 KM</option>
                            <option value="5">5 KM</option>
                            <option value="7">7 KM</option>
                            <option value="10">10 KM</option>
                            <option value="20">20 KM</option>
                            <option value="30">30 KM</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="card mx-auto mt-2 bg-light" style="width: 98%;">
                <div class="card-body">
                    <h5 class="card-title">Filters Event by Categories</h5>
                    <!-- <hr> -->
                    <label for="eventTypes" class="form-label">Select Event Type</label>
                    <select class="form-select" id='eventTypes' onchange="getSubEvents ()" >
                        <option selected value="All">All</option>
                        {%for i in eventTypes%}
                            <option value="{{i}}">{{i}}</option>
                        {%endfor%}
                    </select>

                    <label for="eventSubTypes" class="form-label mt-2">Select Event Sub Type</label>
                    <select class="form-select" id="eventSubTypes" onchange="updateData()" >
                        <option selected value="All">All</option>
                        {%for i in eventSubTypes%}
                            <option value="{{i}}">{{i}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>

            <div class="card mx-auto mt-3 bg-light" style="width: 98%;">
                <div class="card-body">
                    <h5 class="card-title">Filters Event by Time</h5>
                    <!-- <hr> -->
                    <label for="timeOfevent" class="form-label mt-2">Time (Hour)</label>
                    <select class="form-select" id="timeOfevent" onchange="getSubEvents ()">
                        <option selected value="All">All</option>
                        <option value="0">12 AM</option>
                        <option value="1">1 AM</option>
                        <option value="2">2 AM</option>
                        <option value="3">3 AM</option>
                        <option value="4">4 AM</option>
                        <option value="5">5 AM</option>
                        <option value="6">6 AM</option>
                        <option value="7">7 AM</option>
                        <option value="8">8 AM</option>
                        <option value="9">9 AM</option>
                        <option value="10">10 AM</option>
                        <option value="11">11 AM</option>
                        <option value="12">12 PM</option>
                        <option value="13">1 PM</option>
                        <option value="14">2 PM</option>
                        <option value="15">3 PM</option>
                        <option value="16">4 PM</option>
                        <option value="17">5 PM</option>
                        <option value="18">6 PM</option>
                        <option value="19">7 PM</option>
                        <option value="20">8 PM</option>
                        <option value="21">9 PM</option>
                        <option value="22">10 PM</option>
                        <option value="23">11 PM</option>
                    </select>
                    <div class="form-group pt-2">
                        <label for="fromdatetime" class="form-label">From Date/Time</label>
                        <input type="datetime-local" class="form-control" id="fromdatetime" value="{{fromDateTime}}" onchange="updateData()">
                    </div>
                    <div class="form-group pt-2">
                        <label for="todatetime" class="form-label">To Date/Time</label>
                        <input type="datetime-local" class="form-control" id="todatetime" value="{{toDateTime}}" onchange="updateData()">
                    </div>
                    <button onclick="updateData()" class="btn btn-primary mt-2">Apply Filter</button> 
                </div>
            </div>
        </div>
        <div class="col-md-9 col-12 p-0">
            <div id="stylemenu" hidden>
                <input id="satellite-v9" type="radio" name="rtoggle" value="satellite" checked="checked">
                <label for="satellite-v9">satellite</label>
                <input id="light-v10" type="radio" name="rtoggle" value="light">
                <label for="light-v10">light</label>
                <input id="dark-v10" type="radio" name="rtoggle" value="dark">
                <label for="dark-v10">dark</label>
                <input id="streets-v11" type="radio" name="rtoggle" value="streets">
                <label for="streets-v11">streets</label>
            </div>
            <div id='map' style='width: 100%; height: 100vh;'>
                <div id="left" class="sidebar flex-center left collapsed">
                    <div class="sidebar-content rounded-rect insideScroll">  
                        <div class="card mx-auto mt-2 bg-secondary text-white" style="width: 98%;">
                            <div class="card-body">
                                <h5 class="card-title ">Patrolling Points</h5>
                                <!-- <hr> -->
                                <label for="timeDelta1" class="form-label">Based on History of </label>
                                <select class="form-select" id='timeDelta1'>
                                    <!-- <option selected value="All">All</option> -->
                                    <option value="1">1 Day</option>
                                    <option value="2">2 Day</option>
                                    <option value="3">3 Days</option>
                                    <option value="7">1 Week</option>
                                    <option selected value="14">2 Week</option>
                                    <option value="30">1 Month</option>
                                    <option value="60">2 Month</option>
                                </select>
                                <label for="noOfPoints1" class="form-label mt-2">No. Of Locations</label>
                                <select class="form-select" id="noOfPoints1">
                                    <!-- <option selected value="All">All</option> -->
                                    <option value="1">1</option>
                                    <option value="3">3</option>
                                    <option value="5">5</option>
                                    <option value="7">7</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select>
                                <label for="timeOfpatrolling1" class="form-label mt-2">Time Of Patrolling (Hour)</label>
                                <select class="form-select" id="timeOfpatrolling1">
                                    <!-- <option selected value="All">All</option> -->
                                    <option value="0">12 AM</option>
                                    <option value="1">1 AM</option>
                                    <option value="2">2 AM</option>
                                    <option value="3">3 AM</option>
                                    <option value="4">4 AM</option>
                                    <option value="5">5 AM</option>
                                    <option value="6">6 AM</option>
                                    <option value="7">7 AM</option>
                                    <option value="8">8 AM</option>
                                    <option value="9">9 AM</option>
                                    <option value="10">10 AM</option>
                                    <option value="11">11 AM</option>
                                    <option value="12">12 PM</option>
                                    <option value="13">1 PM</option>
                                    <option value="14">2 PM</option>
                                    <option value="15">3 PM</option>
                                    <option value="16">4 PM</option>
                                    <option value="17">5 PM</option>
                                    <option value="18">6 PM</option>
                                    <option value="19">7 PM</option>
                                    <option value="20">8 PM</option>
                                    <option value="21">9 PM</option>
                                    <option value="22">10 PM</option>
                                    <option value="23">11 PM</option>
                                </select>
                                <label for="weekDay1" class="form-label mt-2">Week Day</label>
                                <select class="form-select" id="weekDay1">
                                    <!-- <option selected value="All">All</option> -->
                                    <option value="0">Monday</option>
                                    <option value="1">Tuesday</option>
                                    <option value="2">Wednesday</option>
                                    <option value="3">Thursday</option>
                                    <option value="4">Friday</option>
                                    <option value="5">Saturday</option>
                                    <option value="6">Sunday</option>
                                </select>
                                <button onclick="getPredictionPoints1()" class="btn btn-light mt-3">Predict Locations</button> 
                            </div>
                        </div>

                        <div class="row mx-auto mt-3">
                            <div class="card text-white bg-danger mb-2 col-6 mx-auto"  style="width: 48%;">
                                <div class="card-body">
                                    <h5 class="card-title">Total Crime</h5>
                                    <p class="card-text">{{totalCases}}</p>
                                </div>
                            </div>
                            <div class="card text-dark bg-warning mb-2 col-6 mx-auto" style="width: 48%;">
                                <div class="card-body">
                                    <h5 class="card-title">Police Station</h5>
                                    <p class="card-text" id="policeStationVal1">{{policeStation}}</p>
                                    <select class="form-select" id='policeStation1' onchange="updateData1()" >
                                        <option selected value="All">All</option>
                                        {%for i in policeStations%}
                                            <option value="{{i}}">{{i}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                            </div>
                            <div class="card text-white bg-success mb-2 col-6 mx-auto"  style="width: 48%;">
                                <div class="card-body">
                                    <h5 class="card-title">Circle</h5>
                                    <p class="card-text" id="circleVal1">{{circle}}</p>
                                    <select class="form-select" id='circle1' onchange="updateData1()" >
                                        <option selected value="All">All</option>
                                        {%for i in circles%}
                                            <option value="{{i}}">{{i}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                            </div>
                            <div class="card text-white bg-primary mb-2 col-6 mx-auto"  style="width: 48%;">
                                <div class="card-body">
                                    <h5 class="card-title">Radius</h5>
                                    <p class="card-text" id="radiusVal1">All</p>
                                    <select class="form-select" id='radius1' onchange="updateData1()">
                                        <option selected value="All">All</option>
                                        <option value="1">1 KM</option>
                                        <option value="2">2 KM</option>
                                        <option value="3">3 KM</option>
                                        <option value="5">5 KM</option>
                                        <option value="7">7 KM</option>
                                        <option value="10">10 KM</option>
                                        <option value="20">20 KM</option>
                                        <option value="30">30 KM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card mx-auto mt-2 bg-light" style="width: 98%;">
                            <div class="card-body">
                                <h5 class="card-title">Filters Event by Categories</h5>
                                <!-- <hr> -->
                                <label for="eventTypes1" class="form-label">Select Event Type</label>
                                <select class="form-select" id='eventTypes1' onchange="getSubEvents1()" >
                                    <option selected value="All">All</option>
                                    {%for i in eventTypes%}
                                        <option value="{{i}}">{{i}}</option>
                                    {%endfor%}
                                </select>

                                <label for="eventSubTypes1" class="form-label mt-2">Select Event Sub Type</label>
                                <select class="form-select" id="eventSubTypes1" onchange="updateData1()" >
                                    <option selected value="All">All</option>
                                    {%for i in eventSubTypes%}
                                        <option value="{{i}}">{{i}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>

                        <div class="card mx-auto mt-3 bg-light" style="width: 98%;">
                            <div class="card-body">
                                <h5 class="card-title">Filters Event by Time</h5>
                                <!-- <hr> -->
                                <label for="timeOfevent1" class="form-label mt-2">Time (Hour)</label>
                                <select class="form-select" id="timeOfevent1" onchange="getSubEvents ()">
                                    <option selected value="All">All</option>
                                    <option value="0">12 AM</option>
                                    <option value="1">1 AM</option>
                                    <option value="2">2 AM</option>
                                    <option value="3">3 AM</option>
                                    <option value="4">4 AM</option>
                                    <option value="5">5 AM</option>
                                    <option value="6">6 AM</option>
                                    <option value="7">7 AM</option>
                                    <option value="8">8 AM</option>
                                    <option value="9">9 AM</option>
                                    <option value="10">10 AM</option>
                                    <option value="11">11 AM</option>
                                    <option value="12">12 PM</option>
                                    <option value="13">1 PM</option>
                                    <option value="14">2 PM</option>
                                    <option value="15">3 PM</option>
                                    <option value="16">4 PM</option>
                                    <option value="17">5 PM</option>
                                    <option value="18">6 PM</option>
                                    <option value="19">7 PM</option>
                                    <option value="20">8 PM</option>
                                    <option value="21">9 PM</option>
                                    <option value="22">10 PM</option>
                                    <option value="23">11 PM</option>
                                </select>
                                <div class="form-group pt-2">
                                    <label for="fromdatetime1" class="form-label">From Date/Time</label>
                                    <input type="datetime-local" class="form-control" id="fromdatetime1" value="{{fromDateTime}}" onchange="updateData1()">
                                </div>
                                <div class="form-group pt-2">
                                    <label for="todatetime1" class="form-label">To Date/Time</label>
                                    <input type="datetime-local" class="form-control" id="todatetime1" value="{{toDateTime}}" onchange="updateData1()">
                                </div>
                                <button onclick="updateData1()" class="btn btn-primary mt-2">Apply Filter</button> 
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-toggle rounded-rect left" onclick="toggleSidebar('left')">
                        &rarr;
                    </div>
                </div>
                <div id="right" class="sidebar flex-center right collapsed">
                    <div class="sidebar-content rounded-rect">  

                        <h4>Top 5 Event Type</h4><br>
                        <h5>
                            For Time : <span id="timeOfpatrollingtext"></span><br>
                            For Day : <span id="weekOfpatrolling"></span><br>
                        </h5>
                        <hr>
                        <h6>Event Type : <span id="predictionEventText1"></span><br>Prediction : <span id="predictionText1"></span></h6><br>
                        <h6>Event Type : <span id="predictionEventText2"></span><br>Prediction : <span id="predictionText2"></span></h6><br>
                        <h6>Event Type : <span id="predictionEventText3"></span><br>Prediction : <span id="predictionText3"></span></h6><br>
                        <h6>Event Type : <span id="predictionEventText4"></span><br>Prediction : <span id="predictionText4"></span></h6><br>
                        <h6>Event Type : <span id="predictionEventText5"></span><br>Prediction : <span id="predictionText5"></span></h6><br>
                        <div class="sidebar-toggle rounded-rect right" onclick="toggleSidebar('right')">
                            &larr;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

.insideScroll {
    position: fixed;
    overflow-y: scroll;
}

.rounded-rect {
background: white;
border-radius: 10px;
box-shadow: 0 0 50px -25px black;
}
 
.flex-center {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
}
 
.flex-center.left {
left: 0px;
}
 
.flex-center.right {
right: 0px;
}
 
.sidebar-content {
    position: absolute;
    padding: 5%;
    padding-top: 15%;
    width: 95%;
    height: 95%;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
 
.sidebar-toggle {

font-size: 32px;
position: absolute;
width: 1.3em;
height: 1.3em;
overflow: visible;
display: flex;
justify-content: center;
align-items: center;
}
 
.sidebar-toggle.left {
right: -1.5em;
}
 
.sidebar-toggle.right {
left: -1.5em;
}
 
.sidebar-toggle:hover {
color: #0aa1cf;
cursor: pointer;
}
 
.sidebar {
transition: transform 1s;
z-index: 1;
width: 320px;
height: 100%;
}
.left.collapsed {
transform: translateX(-315px);
}
 
.right.collapsed {
transform: translateX(315px);
}


#stylemenu {
    position: absolute;
    background: #efefef;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}
</style>
<script>


// Mapbox API Setup
mapboxgl.accessToken = 'pk.eyJ1IjoicmFqc29uaTAzIiwiYSI6ImNrNThmY25tYTA3MWwzbG50bzdndXZ5ZngifQ.-fSnHZymHAiDIUBKSuQGAQ';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/satellite-streets-v11',
    center: [81.0439, 26.8480],
    zoom: {{ map_zoom }}
});

function toggleSidebar(id) {
    const elem = document.getElementById(id);
    // Add or remove the 'collapsed' CSS class from the sidebar element.
    // Returns boolean "true" or "false" whether 'collapsed' is in the class list.
    const collapsed = elem.classList.toggle('collapsed');
    const padding = {};
    // 'id' is 'right' or 'left'. When run at start, this object looks like: '{left: 300}';
    padding[id] = collapsed ? 0 : 300; // 0 if collapsed, 300 px if not. This matches the width of the sidebars in the .sidebar CSS class.
    // Use `map.easeTo()` with a padding option to adjust the map's center accounting for the position of sidebars.
    map.easeTo({
        padding: padding,
        duration: 1000 // In ms. This matches the CSS transition duration property.
    });
}

// Load Map
map.on('load', function (){
    toggleSidebar('left');
    map.addControl(
        new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
        })
    );


    // Load All Points Json Data
    map.addSource('datapoints', {
        type: 'geojson',
        data: '/map/dataPoints/',
        cluster: true,
        clusterMaxZoom: 16, // Max zoom to cluster points on
        clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
    });

    // Add Dynemic Cluster Points
    map.addLayer({
        id: 'clusters',
        type: 'circle',
        source: 'datapoints',
        filter: ['has', 'point_count'],
        paint: {
            'circle-color': [
                'step',
                ['get', 'point_count'],
                '#198754', 20,
                '#FFC107', 50,
                '#0D6EFD', 100,
                '#DC3545'
                ],
            'circle-radius': [
                'step',
                ['get', 'point_count'],
                20, 20,
                26, 50,
                32, 100,
                38
            ]
        }
    });

    // Add Cases-Count on Cluster Points
    map.addLayer({
        id: 'cluster-count',
        type: 'symbol',
        source: 'datapoints',
        filter: ['has', 'point_count'],
        layout: {
            'text-field': '{point_count_abbreviated}',
            'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
            'text-size': 15,
        },
        paint: {
          "text-color": "#ffffff"
        }
    });


    // Add Single Points
    map.addLayer({
        id: 'unclustered-point',
        type: 'circle',
        source: 'datapoints',
        filter: ['!', ['has', 'point_count']],
        paint: {
            'circle-color': '#11b4da',
            'circle-radius': 10,
            'circle-stroke-width': 1,
            'circle-stroke-color': '#fff'
        }
    });
    
    // Mouse Click Event on Cluster Points
    map.on('click', 'clusters', (e) => {
        const features = map.queryRenderedFeatures(e.point, {
            layers: ['clusters']
        });
        const clusterId = features[0].properties.cluster_id;
        map.getSource('datapoints').getClusterExpansionZoom(
            clusterId,
                (err, zoom) => {
                if (err) return;                 
                map.easeTo({
                    center: features[0].geometry.coordinates,
                    zoom: zoom
                });
            }
        );
    });

    // Mouse Click Event on Single Points
    map.on('click', 'unclustered-point', (e) => {
        map.flyTo({
            center: e.features[0].geometry.coordinates
        });
        const coordinates = e.features[0].geometry.coordinates.slice();
        const eventID = e.features[0].properties.eventID;
        const eventType = e.features[0].properties.eventType;
        const eventSubType = e.features[0].properties.eventSubType;
        const callerSource = e.features[0].properties.callerSource;
        const datetime = e.features[0].properties.datetime;
        
        const longitude = e.features[0].geometry.coordinates[0];
        const latitude = e.features[0].geometry.coordinates[1];
         
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }
        new mapboxgl.Popup().setLngLat(coordinates).setHTML(`Event ID: ${eventID}<br>Event Type: ${eventType}<br>Event Sub Type: ${eventSubType}<br>Caller Source: ${callerSource}<br>Date Time: ${datetime}<br> <br> Longitude: ${longitude}<br>Latitude: ${latitude}`).addTo(map);
    });

    map.on('mouseenter', 'clusters', () => {
        map.getCanvas().style.cursor = 'pointer';
    });
    map.on('mouseleave', 'clusters', () => {
        map.getCanvas().style.cursor = '';
    });


    // add routing layer / prediction points
    // Load Json Data
    map.addSource('predictionpoints', {
        'type': 'geojson',
        'data': '/map/getPrediction/'
    });


    const size = 200;

    // This implements `StyleImageInterface`
    // to draw a pulsing dot icon on the map.
    const pulsingDot = {
        width: size,
        height: size,
        data: new Uint8Array(size * size * 4),

        // When the layer is added to the map,
        // get the rendering context for the map canvas.
        onAdd: function () {
            const canvas = document.createElement('canvas');
            canvas.width = this.width;
            canvas.height = this.height;
            this.context = canvas.getContext('2d');
        },

        // Call once before every frame where the icon will be used.
        render: function () {
            const duration = 1000;
            const t = (performance.now() % duration) / duration;

            const radius = (size / 2) * 0.3;
            const outerRadius = (size / 2) * 0.7 * t + radius;
            const context = this.context;

            // Draw the outer circle.
            context.clearRect(0, 0, this.width, this.height);
            context.beginPath();
            context.arc(
                this.width / 2,
                this.height / 2,
                outerRadius,
                0,
                Math.PI * 2
            );
            context.fillStyle = `rgba(255, 200, 200, ${1 - t})`;
            context.fill();

            // Draw the inner circle.
            context.beginPath();
            context.arc(
                this.width / 2,
                this.height / 2,
                radius,
                0,
                Math.PI * 2
            );
            context.fillStyle = 'rgba(255, 100, 100, 1)';
            context.strokeStyle = 'white';
            context.lineWidth = 2 + 4 * (1 - t);
            context.fill();
            context.stroke();

            // Update this image's data with data from the canvas.
            this.data = context.getImageData(
                0,
                0,
                this.width,
                this.height
            ).data;

            // Continuously repaint the map, resulting
            // in the smooth animation of the dot.
            map.triggerRepaint();

            // Return `true` to let the map know that the image was updated.
            return true;
        }
    };

    map.addImage('pulsing-dot', pulsingDot, { pixelRatio: 2 });
    map.addLayer({
        'id': 'predictionpoints-circle',
        'type': 'symbol',
        'source': 'predictionpoints',
        'layout': {
            'icon-image': 'pulsing-dot'
        }
    });


    map.addLayer({
        'id': 'lines',
        'type': 'line',
        'source': 'predictionpoints',
        'paint': {
            'line-width': 3,
            // Use a get expression (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-get)
            // to set the line-color to a feature property value.
            'line-color': ['get', 'color']
        }
    });
    // toggleSidebar('');
});


 


// Change Map Style
const layerList = document.getElementById('stylemenu');
const inputs = layerList.getElementsByTagName('input');
for (const input of inputs) {
    input.onclick = (layer) => {
        const layerId = layer.target.id;
        map.setStyle('mapbox://styles/mapbox/' + layerId);
    };
}

// Create Url Query based on Filters
function buildUrl(url, parameters){
    var qs = "";
    for(var key in parameters) {
        var value = parameters[key];
        qs += encodeURIComponent(key) + "=" + encodeURIComponent(value) + "&";
    }
    if (qs.length > 0){
        qs = qs.substring(0, qs.length-1);
        url = url + "?" + qs;
    }
    return url;
}

// Update DataPoints based on Filters (Ajax inbuilt)
function updateData(){
    var parameters = {
        policeStation: document.getElementById('policeStation').value,
        circle: document.getElementById('circle').value,
        radius: document.getElementById('radius').value,
        eventTypes: document.getElementById('eventTypes').value,
        eventSubTypes: document.getElementById('eventSubTypes').value,
        fromdatetime:  document.getElementById('fromdatetime').value,
        todatetime:  document.getElementById('todatetime').value,
        timeOfevent:  document.getElementById('timeOfevent').value,
    };
    var dataUrl = buildUrl('/map/dataPoints/', parameters);
    // console.log(dataUrl);
    map.getSource('datapoints').setData(dataUrl);
    document.getElementById('policeStationVal').innerHTML = parameters['policeStation'];
    document.getElementById('circleVal').innerHTML = parameters['circle'];
    document.getElementById('radiusVal').innerHTML = parameters['radius'];
}

// Update DataPoints based on Filters (Ajax inbuilt)
function updateData1(){
    var parameters = {
        policeStation: document.getElementById('policeStation1').value,
        circle: document.getElementById('circle1').value,
        radius: document.getElementById('radius1').value,
        eventTypes: document.getElementById('eventTypes1').value,
        eventSubTypes: document.getElementById('eventSubTypes1').value,
        fromdatetime:  document.getElementById('fromdatetime1').value,
        todatetime:  document.getElementById('todatetime1').value,
        timeOfevent:  document.getElementById('timeOfevent1').value,
    };
    var dataUrl = buildUrl('/map/dataPoints/', parameters);
    // console.log(dataUrl);
    map.getSource('datapoints').setData(dataUrl);
    document.getElementById('policeStationVal1').innerHTML = parameters['policeStation'];
    document.getElementById('circleVal1').innerHTML = parameters['circle'];
    document.getElementById('radiusVal1').innerHTML = parameters['radius'];
}

// Update Sub Events List Based On Event Selection 
function getSubEvents(){
    var parameter = {
        eventTypes: document.getElementById('eventTypes').value
    }
    const xhr = new XMLHttpRequest();
    xhr.responseType = 'json';
    var url = buildUrl('/map/getSubEvents/', parameter);
    // console.log(url);
    xhr.open("GET", url, true);
    xhr.onprogress = function(){
        document.getElementById('eventSubTypes').disabled = true;
    }   
    xhr.onload = function(){
        var selectBox = document.getElementById('eventSubTypes');
        selectBox.disabled = false;

        if (this.status == 200){            
            var jsonResponse = xhr.response;   
            var eventSubTypes = jsonResponse['eventSubTypes'];        
            while (selectBox.options.length > 0) {
                selectBox.remove(0);
            };

            selectBox.innerHTML = '<option selected value="All">All</option>';

            for (var i=0; i<eventSubTypes.length; i++){
                let newOption = new Option(eventSubTypes[i], eventSubTypes[i]);
                selectBox.add(newOption,undefined);
            }
        }
        else{
            console.log("Not Working");   
        }
    }
    xhr.send();
    updateData();
}

// Update Sub Events List Based On Event Selection 
function getSubEvents1(){
    var parameter = {
        eventTypes: document.getElementById('eventTypes1').value
    }
    const xhr = new XMLHttpRequest();
    xhr.responseType = 'json';
    var url = buildUrl('/map/getSubEvents/', parameter);
    // console.log(url);
    xhr.open("GET", url, true);
    xhr.onprogress = function(){
        document.getElementById('eventSubTypes1').disabled = true;
    }   
    xhr.onload = function(){
        var selectBox = document.getElementById('eventSubTypes1');
        selectBox.disabled = false;

        if (this.status == 200){            
            var jsonResponse = xhr.response;   
            var eventSubTypes = jsonResponse['eventSubTypes'];        
            while (selectBox.options.length > 0) {
                selectBox.remove(0);
            };

            selectBox.innerHTML = '<option selected value="All">All</option>';

            for (var i=0; i<eventSubTypes.length; i++){
                let newOption = new Option(eventSubTypes[i], eventSubTypes[i]);
                selectBox.add(newOption,undefined);
            }
        }
        else{
            console.log("Not Working");   
        }
    }
    xhr.send();
    updateData1();
}


// Get Top 3 Prediction Data and Show on Map
function getTopPrediction(id){
    var id = id;
    if (id == '1'){        
        var parameter = {
            policeStation: document.getElementById('policeStation1').value,
            timeOfpatrolling:  document.getElementById('timeOfpatrolling1').value,
            weekDay:  document.getElementById('weekDay1').value
        }
    }
    else {
        var parameter = {
            policeStation: document.getElementById('policeStation').value,
            timeOfpatrolling:  document.getElementById('timeOfpatrolling').value,
            weekDay:  document.getElementById('weekDay').value
        }   
    }
    const xhr = new XMLHttpRequest();
    xhr.responseType = 'json';
    var url = buildUrl('/map/getTopPrediction/', parameter);
    // console.log(url);
    xhr.open("GET", url, true);
    xhr.onprogress = function(){
        console.log("predicting");
    }   
    xhr.onload = function(){
        if (this.status == 200){            
            var jsonResponse = xhr.response;   
            var predicted_events = jsonResponse['predicted_events'];    
            var predicted_events_weights = jsonResponse['predicted_events_weights'];

            toggleSidebar('right')

            document.getElementById('timeOfpatrollingtext').innerHTML = parameter['timeOfpatrolling'] + ':00';
            document.getElementById('weekOfpatrolling').innerHTML = parameter['weekOfpatrolling'];

            document.getElementById('predictionEventText1').innerHTML = predicted_events[0];
            document.getElementById('predictionEventText2').innerHTML = predicted_events[1];
            document.getElementById('predictionEventText3').innerHTML = predicted_events[2];
            document.getElementById('predictionEventText4').innerHTML = predicted_events[3];
            document.getElementById('predictionEventText5').innerHTML = predicted_events[4];

            document.getElementById('predictionText1').innerHTML = predicted_events_weights[0];
            document.getElementById('predictionText2').innerHTML = predicted_events_weights[1];
            document.getElementById('predictionText3').innerHTML = predicted_events_weights[2];
            document.getElementById('predictionText4').innerHTML = predicted_events_weights[3];
            document.getElementById('predictionText5').innerHTML = predicted_events_weights[4];

        }
        else{
            console.log("Not Working");   
        }
    }
    xhr.send();
    updateData();
}


// Get Predicted Points and Show on Map (Ajax inbuilt)
function getPredictionPoints(){
    var parameters = {
        policeStation: document.getElementById('policeStation').value,
        circle: document.getElementById('circle').value,
        radius: document.getElementById('radius').value,
        eventTypes: document.getElementById('eventTypes').value,
        eventSubTypes: document.getElementById('eventSubTypes').value,
        fromdatetime:  document.getElementById('fromdatetime').value,
        todatetime:  document.getElementById('todatetime').value,
        timeDelta:  document.getElementById('timeDelta').value,
        noOfPoints:  document.getElementById('noOfPoints').value,
        timeOfpatrolling:  document.getElementById('timeOfpatrolling').value,
        timeOfevent:  document.getElementById('timeOfevent').value,
        weekDay:  document.getElementById('weekDay').value,
    };

    if (document.getElementById('policeStation').value == "All"){
        alert("Please Select A Police Station");
        return;
    }        
    else{
        var dataUrl = buildUrl('/map/getPrediction/', parameters);
        map.getSource('predictionpoints').setData(dataUrl);
        // console.log("getPredictionPoints")
        document.getElementById('policeStationVal').innerHTML = parameters['policeStation'];
        document.getElementById('circleVal').innerHTML = parameters['circle'];
        document.getElementById('radiusVal').innerHTML = parameters['radius'];

        getTopPrediction('0');
    }
}

// Get Predicted Points and Show on Map (Ajax inbuilt)
function getPredictionPoints1(){
    var parameters = {
        policeStation: document.getElementById('policeStation1').value,
        circle: document.getElementById('circle1').value,
        radius: document.getElementById('radius1').value,
        eventTypes: document.getElementById('eventTypes1').value,
        eventSubTypes: document.getElementById('eventSubTypes1').value,
        fromdatetime:  document.getElementById('fromdatetime1').value,
        todatetime:  document.getElementById('todatetime1').value,
        timeDelta:  document.getElementById('timeDelta1').value,
        noOfPoints:  document.getElementById('noOfPoints1').value,
        timeOfpatrolling:  document.getElementById('timeOfpatrolling1').value,
        timeOfevent:  document.getElementById('timeOfevent1').value,
        weekDay:  document.getElementById('weekDay1').value,
    };

    if (document.getElementById('policeStation1').value == "All"){
        alert("Please Select A Police Station");
        return;
    }        
    else{
        var dataUrl = buildUrl('/map/getPrediction/', parameters);
        map.getSource('predictionpoints').setData(dataUrl);
        // console.log("getPredictionPoints")
        document.getElementById('policeStationVal1').innerHTML = parameters['policeStation'];
        document.getElementById('circleVal1').innerHTML = parameters['circle'];
        document.getElementById('radiusVal1').innerHTML = parameters['radius'];

        getTopPrediction('1');
    }
}


</script>
{% endblock %}
