{% extends 'Main/base.html' %}
{% block map %} active {% endblock %}
{% block content %}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script>
<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
<div class="container-fluid">
    <div class="row p-0">
        <div class="col-3 bg-dark">
            <div class="row mx-auto mt-3">
                <div class="card text-white bg-danger mb-2 col-6 mx-auto"  style="width: 48%;">
                    <div class="card-body">
                        <h5 class="card-title">Total Crime</h5>
                        <p class="card-text">{{totalCases}}</p>
                    </div>
                </div>
                <div class="card text-dark bg-warning mb-2 col-6 mx-auto" style="width: 48%;">
                    <div class="card-body">
                        <h5 class="card-title">Police Station</h5>
                        <p class="card-text">{{policeStation}}</p>
                        <select class="form-select" id='policeStation'>
                            <option selected value="all">All</option>
                            {%for i in policeStations%}
                                <option value="{{i}}">{{i}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="card text-white bg-success mb-2 col-6 mx-auto"  style="width: 48%;">
                    <div class="card-body">
                        <h5 class="card-title">Circle</h5>
                        <p class="card-text">{{circle}}</p>
                        <select class="form-select" id='circle'>
                            <option selected value="all">All</option>
                            {%for i in circles%}
                                <option value="{{i}}">{{i}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="card text-white bg-primary mb-2 col-6 mx-auto"  style="width: 48%;">
                    <div class="card-body">
                        <h5 class="card-title">Time</h5>
                        <p class="card-text">{{time}}</p>
                        <select class="form-select" id='time'>
                            <option selected value="all">All</option>
                            <option value="Today">Today</option>
                            <option value="yesterday">Yesterday</option>
                            <option value="3days">3 Days</option>
                            <option value="week">Week</option>
                            <option value="month">Month</option>
                            <option value="6month">6 Month</option>
                            <option value="year">year</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="card mx-auto mt-3 bg-light" style="width: 98%;">
                <div class="card-body">
                    <h5 class="card-title">Filters Event by Categories</h5>
                    <hr>
                        <label for="eventTypes" class="form-label">Select Event Type</label>
                        <select class="form-select" id='eventTypes'>
                            <option selected value="all">All</option>
                            {%for i in eventTypes%}
                                <option value="{{i}}">{{i}}</option>
                            {%endfor%}
                        </select>

                        <label for="eventSubTypes" class="form-label mt-2">Select Event Sub Type</label>
                        <select class="form-select" id="eventSubTypes">
                            <option selected value="all">All</option>
                            {%for i in eventSubTypes%}
                                <option value="{{i}}">{{i}}</option>
                            {%endfor%}
                        </select>

                    <button onclick="updateData()" class="btn btn-primary mt-2">Apply Filter</button> 
                </div>
            </div>
        </div>
        <div class="col-9 p-0">
            <div id='map' style='width: 100%; height: 92.2vh;'></div>
        </div>
    </div>
</div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicmFqc29uaTAzIiwiYSI6ImNrNThmY25tYTA3MWwzbG50bzdndXZ5ZngifQ.-fSnHZymHAiDIUBKSuQGAQ';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: {{ center }},
    zoom: {{ map_zoom }}
});


map.on('load', function (){
    map.addControl(
        new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
        })
    );

    map.addSource('datapoints', {
        type: 'geojson',
        // Use a URL for the value for the `data` property.
        data: '/map/dataPoints/'
    });

    map.addLayer({
        'id': 'datapoints-layer',
        'type': 'circle',
        'source': 'datapoints',
        'paint': {
            'circle-radius': 8,
            'circle-stroke-width': 2,
            'circle-color': 'red',
            'circle-stroke-color': 'white'
        }
    });
});


function buildUrl(url, parameters){
    var qs = "";
    for(var key in parameters) {
        var value = parameters[key];
        qs += encodeURIComponent(key) + "=" + encodeURIComponent(value) + "&";
    }
    if (qs.length > 0){
        qs = qs.substring(0, qs.length-1); //chop off last "&"
        url = url + "?" + qs;
    }
    return url;
}


function updateData(){
    var parameters = {
        policeStation: document.getElementById('policeStation').value,
        circle: document.getElementById('circle').value,
        time: document.getElementById('time').value,
        eventTypes: document.getElementById('eventTypes').value,
        eventSubTypes: document.getElementById('eventSubTypes').value
    };
    var dataUrl = buildUrl('/map/dataPoints/', parameters);
    console.log(dataUrl);
    map.getSource('datapoints').setData(dataUrl);
}


</script>
{% endblock %}