{% extends 'Main/base.html' %}
{% block map %} active {% endblock %}
{% block content %}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script>
<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
<div class="container-fluid">
    <div class="row p-0">
        <div class="col-3 bg-dark">
            <div class="row mx-auto mt-3">
                <div class="card text-white bg-danger mb-2 col-6 mx-auto"  style="width: 48%;">
                    <div class="card-body">
                        <h5 class="card-title">Total Crime</h5>
                        <p class="card-text">{{totalCases}}</p>
                    </div>
                </div>
                <div class="card text-dark bg-warning mb-2 col-6 mx-auto" style="width: 48%;">
                    <div class="card-body">
                        <h5 class="card-title">Police Station</h5>
                        <p class="card-text" id="policeStationVal">{{policeStation}}</p>
                        <select class="form-select" id='policeStation' onchange="updateData()" >
                            <option selected value="All">All</option>
                            {%for i in policeStations%}
                                <option value="{{i}}">{{i}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="card text-white bg-success mb-2 col-6 mx-auto"  style="width: 48%;">
                    <div class="card-body">
                        <h5 class="card-title">Circle</h5>
                        <p class="card-text" id="circleVal">{{circle}}</p>
                        <select class="form-select" id='circle' onchange="updateData()" >
                            <option selected value="All">All</option>
                            {%for i in circles%}
                                <option value="{{i}}">{{i}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="card text-white bg-primary mb-2 col-6 mx-auto"  style="width: 48%;">
                    <div class="card-body">
                        <h5 class="card-title">Time</h5>
                        <p class="card-text" id="timeVal">{{time}}</p>
                        <select class="form-select" id='time' onchange="updateData()">
                            <option selected value="All">All</option>
                            <option value="Today">Today</option>
                            <option value="yesterday">Yesterday</option>
                            <option value="3days">3 Days</option>
                            <option value="week">Week</option>
                            <option value="month">Month</option>
                            <option value="6month">6 Month</option>
                            <option value="year">year</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="card mx-auto mt-2 bg-light" style="width: 98%;">
                <div class="card-body">
                    <h5 class="card-title">Filters Event by Categories</h5>
                    <!-- <hr> -->
                    <label for="eventTypes" class="form-label">Select Event Type</label>
                    <select class="form-select" id='eventTypes' onchange="getSubEvents ()" >
                        <option selected value="All">All</option>
                        {%for i in eventTypes%}
                            <option value="{{i}}">{{i}}</option>
                        {%endfor%}
                    </select>

                    <label for="eventSubTypes" class="form-label mt-2">Select Event Sub Type</label>
                    <select class="form-select" id="eventSubTypes" onchange="updateData()" >
                        <option selected value="All">All</option>
                        {%for i in eventSubTypes%}
                            <option value="{{i}}">{{i}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>

            <div class="card mx-auto mt-3 bg-light" style="width: 98%;">
                <div class="card-body">
                    <h5 class="card-title">Filters Event by Time</h5>
                    <!-- <hr> -->
                    <div class="form-group pt-2">
                        <label for="fromdatetime" class="form-label">From Date/Time</label>
                        <input type="datetime-local" class="form-control" id="fromdatetime" value="{{fromDateTime}}">
                    </div>
                    <div class="form-group pt-2">
                        <label for="todatetime" class="form-label">To Date/Time</label>
                        <input type="datetime-local" class="form-control" id="todatetime" value="{{toDateTime}}">
                    </div>
                    <button onclick="updateData()" class="btn btn-primary mt-2">Apply Filter</button> 
                </div>
            </div>

        </div>
        <div class="col-9 p-0">
            <div id='map' style='width: 100%; height: 92.2vh;'></div>
        </div>
    </div>
</div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicmFqc29uaTAzIiwiYSI6ImNrNThmY25tYTA3MWwzbG50bzdndXZ5ZngifQ.-fSnHZymHAiDIUBKSuQGAQ';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: {{ center }},
    zoom: {{ map_zoom }}
});


map.on('load', function (){
    map.addControl(
        new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
        })
    );

    map.addSource('datapoints', {
        type: 'geojson',
        data: '/map/dataPoints/'
    });

    map.addLayer({
        'id': 'datapoints-layer',
        'type': 'circle',
        'source': 'datapoints',
        'paint': {
            'circle-radius': 8,
            'circle-stroke-width': 2,
            'circle-color': 'red',
            'circle-stroke-color': 'white'
        }
    });
});


function buildUrl(url, parameters){
    var qs = "";
    for(var key in parameters) {
        var value = parameters[key];
        qs += encodeURIComponent(key) + "=" + encodeURIComponent(value) + "&";
    }
    if (qs.length > 0){
        qs = qs.substring(0, qs.length-1);
        url = url + "?" + qs;
    }
    return url;
}


function updateData(){
    var parameters = {
        policeStation: document.getElementById('policeStation').value,
        circle: document.getElementById('circle').value,
        time: document.getElementById('time').value,
        eventTypes: document.getElementById('eventTypes').value,
        eventSubTypes: document.getElementById('eventSubTypes').value,
        fromdatetime:  document.getElementById('fromdatetime').value,
        todatetime:  document.getElementById('todatetime').value,
    };
    var dataUrl = buildUrl('/map/dataPoints/', parameters);
    // console.log(dataUrl);
    map.getSource('datapoints').setData(dataUrl);
    document.getElementById('policeStationVal').innerHTML = parameters['policeStation'];
    document.getElementById('circleVal').innerHTML = parameters['circle'];
    document.getElementById('timeVal').innerHTML = parameters['time'];
}

function removeAll(selectBox) {
    while (selectBox.options.length > 0) {
        selectBox.remove(0);
    }
}

function getSubEvents(){
    var parameter = {
        eventTypes: document.getElementById('eventTypes').value
    }
    const xhr = new XMLHttpRequest();
    xhr.responseType = 'json';
    var url = buildUrl('/map/getSubEvents/', parameter);
    // console.log(url);
    xhr.open("GET", url, true);
    xhr.onprogress = function(){
        document.getElementById('eventSubTypes').disabled = true;
    }   
    xhr.onload = function(){
        var selectBox = document.getElementById('eventSubTypes');
        selectBox.disabled = false;

        if (this.status == 200){            
            var jsonResponse = xhr.response;   
            var eventSubTypes = jsonResponse['eventSubTypes'];        
            removeAll(selectBox);

            selectBox.innerHTML = '<option selected value="All">All</option>';

            for (var i=0; i<eventSubTypes.length; i++){
                let newOption = new Option(eventSubTypes[i], eventSubTypes[i]);
                selectBox.add(newOption,undefined);
            }
        }
        else{
            console.log("Not Working");   
        }
    }
    xhr.send();
    updateData();
}

</script>
{% endblock %}